<div class="grid grid-cols-4 place-content-center gap-4">
  <% list.each do |name| %>
    <div class="flex flex-col items-center justify-center w-32">
      <%= render Maglev::Uikit::IconComponent.new(name: name) %>
      <p class="text-xs text-gray-500"><%= name %></p>
    </div>
  <% end %>
</div>