<div class="[&>*:first-child]:rounded-l-sm [&>*:last-child]:rounded-r-sm inline-flex items-center text-white divide-x divide-white/15">
  <% buttons.each do |button| %>
    <%= button %>    
  <% end %>
</div>