<%= turbo_frame_tag 'asset-search-results' do %>
    <div class="w-[51rem] h-128 overflow-y-auto">
      <% if @assets.any? %>
        <%= render Maglev::Uikit::ImageLibrary::ListComponent.new do |component| %>
          <% @assets.each do |asset| %>
            <% component.with_image(
              image: {
                id: asset.id,
                filename: asset.filename,
                image_url: public_asset_url(asset, host: maglev_config.asset_host, only_path: maglev_config.asset_host.blank?),                  
                width: asset.width,
                height: asset.height,
                byte_size: asset.byte_size,
              },
              delete_path: editor_asset_path(asset.id, **query_params(pagination: true)),
              picker_attributes: { picker: params[:picker], source: params[:source] }.compact_blank
            ) %>
          <% end %>
        <% end %>
      <% else %>
        <div class="flex items-center justify-center h-full">
          <p class="text-gray-500">
            <%= t('maglev.editor.image_library.pagination.no_items') %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="flex items-center pt-3">
      <%= render Maglev::Uikit::PaginationComponent.new(pagy: @pagy, hidden_if_single_page: false) %>
    </div>
  </div>
<% end %>