<%= render Maglev::Uikit::PageLayoutComponent.new do |component| %>
  <% component.with_title_content 'Page title' %>
  <% component.with_description_content 'Page description' %>
  
  <% component.with_pre_title do %>
    <%= render Maglev::Uikit::BreadcrumbsComponent.new do |breadcrumbs| %>
      <% breadcrumbs.with_breadcrumb(label: 'Home', url: '#', icon: 'home') %>
      <% breadcrumbs.with_breadcrumb(label: 'Settings', url: '#', icon: 'settings') %>    
    <% end %>
  <% end %>

  <% 10.times.map do |i| %>
    <p class="mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  <% end %>
<% end %>