<%= render Maglev::Uikit::PageLayoutComponent.new do |component| %>
  <% component.with_title_content 'Page title' %>
  <% component.with_description_content 'Page description' %>
  <% component.with_notification do %>
    <%= render Maglev::Uikit::BadgeComponent.new(color: :green, icon_name: 'checkbox_circle').with_content('success!') %>
  <% end %>

  <% 10.times.map do |i| %>
    <p class="mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
  <% end %>
<% end %>