

<div class="space-y-1 flex flex-col">
  <label for="<%= dom_id %>" class="block font-semibold text-gray-800 flex items-center gap-2">
    <span><%= label %></span>
    <% if error %>
      <span class="text-red-700 bg-red-100 text-xs py-1 px-3 rounded"><%= error %></span>
    <% end %>
  </label>
  <div class="mt-2 grid grid-cols-1">
    <%= select_tag name, html_choices, class: 'col-start-1 row-start-1 w-full appearance-none block py-2 px-3 rounded bg-gray-100 text-gray-800 focus:outline-none focus:ring focus:ring-inset focus:ring-2 focus:ring-editor-primary/50 placeholder-gray-500', **input_tag_options %>
    <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4">
      <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
    </svg>
  </div>
</div>