.bundle/
*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/*.sqlite3-*
spec/dummy/log/*.log
spec/dummy/storage/
spec/dummy/tmp/
spec/dummy/public/*theme*
spec/legacy_dummy/db/*.sqlite3
spec/legacy_dummy/db/*.sqlite3-journal
spec/legacy_dummy/db/*.sqlite3-*
spec/legacy_dummy/log/*.log
spec/legacy_dummy/storage/
spec/legacy_dummy/tmp/
spec/legacy_dummy/public/*theme*
.DS_Store
tmp/
node_modules/
public/maglev-packs
public/packs-test/
coverage/
.idea/
.env
podman.sh
template.dev.rb
tailwind-maglev-pro.config.js

# Vite Ruby
/public/vite*
/public/maglev*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files

*.local
bin/test

spec/dummy/db/*.sqlite3
spec/legacy_dummy/db/*.sqlite3

docs/
TODO.md