<%= render Maglev::Uikit::AppLayout::LayoutComponent.new(page: page) do |layout| %>
  <% layout.with_sidebar do |sidebar| %>    
    <% sidebar.with_link(path: '#', icon: 'ri_file_copy_line', active: true) %>
    <% sidebar.with_link(path: '#', icon: 'ri_stack_line') %>

    <% sidebar.with_link(path: '#', icon: 'logout_box_r_line', position: :bottom) %>
  <% end %>

  <p>Hello world</p>
<% end %>