<%= render Maglev::Uikit::AppLayout::LayoutComponent.new(page: page, root_path: '#') do |layout| %>
  <% layout.with_sidebar do |sidebar| %>    
    <% sidebar.with_link(path: '#', icon: 'file_copy', active: true) %>
    <% sidebar.with_link(path: '#', icon: 'stack') %>

    <% sidebar.with_link(path: '#', icon: 'logout', options: { position: :bottom }) %>
  <% end %>

  <p>Hello world</p>
<% end %>