<%= form_with url: path, 
  method: :put, 
  data: { 
    controller: 'editor-section-form', 
    'editor-section-form-section-id-value': section.id,
    action: %(
      editor-input:change->editor-section-form#onSettingChange
      editor-section-form:updateSetting->editor-preview-notification-center#updateSetting
      editor-section-form:updateSection->editor-preview-notification-center#updateSection
      client:setting:updated@window->editor-section-form#afterSettingUpdate
    )
  } do 
%>
  <div class="grid grid-cols-1 gap-4">
    <% settings.each do |definition| %>
      <%= render input_instance_for(definition) %>      
    <% end %>
  </div>
<% end %>