<%= form_with url: path, 
  method: :put, 
  data: { 
    controller: 'editor-section-form', 
    'editor-section-form-section-id-value': section.id,
    action: %(
      editor-input:settingChange@window->editor-section-form#onSettingChange
      editor-section-form:updateSetting->editor-preview-notification-center#updateSetting
      editor-section-form:updateSection->editor-preview-notification-center#updateSection
      client:setting:updated@window->editor-section-form#afterSettingUpdate
    )
  } do 
%>
  <%
=begin%>
 <p><%= section.settings.each { |content| content.inspect } %></p> 
<%
=end%>
  <div class="mt-2 grid grid-cols-1 gap-4">
    <% section.definition.settings.each do |setting| %>
      <%= render input_instance_for(setting) %>      
    <% end %>
  </div>
<% end %>