<% if @section.definition.blocks.count == 1 %>
  <%= button_to t('maglev.editor.section_blocks.index.add_button'),
    editor_section_blocks_path(@section, block_type: @section.definition.blocks.first.type, **maglev_editing_route_context), 
    class: maglev_button_classes(size: :big),
    method: :post,
    name: 'add_section_block',
    form: {
      data: { 
        turbo_frame: '_top',
        action: 'turbo:submit-end->editor-preview-notification-center#addSectionBlock',
        'editor-preview-notification-center-section-id-param': @section.id,
      } 
    }
  %>
<% else %>
  <%= render Maglev::Uikit::DropdownComponent.new do |dropdown| %>
    <% dropdown.with_trigger do %>
      <%= button_tag t('maglev.editor.section_blocks.index.add_button'), 
        type: 'button',
        class: maglev_button_classes(size: :big),
        data: {
          action: 'click->uikit-dropdown#toggle',
          'uikit-dropdown-target': 'button'
        }
      %>
    <% end %>
            
    <div class="p-4">
      <%= render Maglev::Uikit::List::ListComponent.new do |component| %>
        <% @section.definition.blocks.each do |block| %>
          <% component.with_item_content(
            link: { 
              url: editor_section_blocks_path(@section, block_type: block.type, **maglev_editing_route_context),
              data: {
                turbo_frame: '_top',
                turbo_method: :post,
                action: 'turbo:submit-end->editor-preview-notification-center#addSectionBlock',
                'editor-preview-notification-center-section-id-param': @section.id,
              }
            }) do |item| %>
            <% item.with_title_content block.human_name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>