<% if @section.blocks.any? %>
  <%= render Maglev::Uikit::List::ListComponent.new(
    sort_form: { 
      path: sort_editor_section_blocks_path(@section, lock_version: @section.lock_version, **maglev_editing_route_context), 
      data: { 
        turbo_frame: '_top',
        action: 'sortable:drag-stopped@window->editor-preview-notification-center#moveSectionBlocks', 
        'editor-preview-notification-center-section-id-param': @section.id,
      } 
    }
  ) do |component| %>
    <% @section.blocks.each do |section_block| %>
      <% component.with_item_content(
        id: section_block.id, 
        link: { 
          url: edit_editor_section_block_path(@section, section_block, **maglev_editing_route_context), 
          data: { turbo_frame: '_top' } 
        }) do |item| %>
        <% item.with_handle %>

        <% if section_block.label? %>
          <% item.with_title_content(section_block.label) %>
        <% else %>
          <% item.with_title_content(section_block.name) %>
        <% end %>

        <% item.with_image do %>
          <%= image_tag section_block.image, class: item.image_classes, data: { controller: 'broken-image' } %>
        <% end if section_block.image? %>

        <% item.with_action do %>
          <%= delete_section_block_button(@section, section_block, maglev_editing_route_context) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p class="text-center mt-8 text-gray-800">
    <%= t('maglev.editor.section_blocks.index.empty') %>
  </p>
<% end %>