<div class="w-96">
  <%= render Maglev::Uikit::List::ListItemComponent.new(link: { url: '#' }) do |item| %>
    <% item.with_image do %>
      <%= image_tag "/images/img-42.jpg", class: item.image_classes %>
    <% end %>
      
    <% item.with_title_content('Item label with a long text') %>      
  <% end %>
</div>