<div class="relative mt-6 mb-4">
  <div aria-hidden="true" class="absolute inset-0 flex items-center">
    <div class="w-full border-t border-gray-200"></div>
  </div>
  <% if with_hint? %>
    <div class="relative flex justify-center">
      <span class="bg-white px-3 leading-6 text-gray-800 text-sm">
        <%= label %>
      </span>
    </div>
  <% end %>
</div>