.big-submit-button {
  @apply flex
    items-center
    justify-center
    rounded-sm
    w-full
    px-6
    py-4
    bg-opacity-95
    hover:bg-opacity-100
    transition-colors
    duration-200
    text-white text-center
    disabled:opacity-75;
}

.cancel-button {
  @apply block
    w-full
    text-gray-800
    py-3
    hover:bg-gray-100
    transition-colors
    duration-200;
}
