<%= turbo_stream.update 'modal' do %>
  <%= render Maglev::Uikit::ModalComponent.new(id: 'stale-object-error', open: true) do |modal| %>
    <% modal.with_title_content t('maglev.editor.error_modals.stale_object.title') %>
    
    <div class="prose">
      <%= t('maglev.editor.error_modals.stale_object.message').html_safe %>
    </div>

    <% modal.with_footer do %>
      <%= button_tag t('maglev.editor.error_modals.stale_object.button'), 
        type: 'button', 
        class: maglev_button_classes,
        data: { 
          turbo: false,
          controller: 'reload-page',
          action: 'click->reload-page#reload'
        } 
      %>
    <% end %>
  <% end %>
<% end %>