<% if content.present? %>
  <%= content %>
<% else %>
  <div class="flex flex-row items-center h-full w-full px-4 overflow-hidden">
    <div class="flex flex-col leading-none overflow-hidden">
      <div class="flex items-center">
        <%= render Maglev::Uikit::IconComponent.new(name: icon_name, size: '1.1rem', class_names: 'shrink-0 text-gray-900') %>
        <div class="text-base font-semibold truncate ml-1 mr-3"><%= page.title %></div>
        <div class="v-popover flex">
          <div class="trigger" style="display: inline-block;">
            <div class="z-10 relative flex items-center focus:outline-none select-none cursor-pointer w-full">
              <button class="h-7 w-7 flex items-center justify-center rounded-full focus:outline-none transition-colors duration-200 shrink-0 bg-gray-600 bg-opacity-0 hover:text-gray-900 text-gray-800 hover:bg-opacity-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="fill-current" style="width: 1.15rem; height: 1.15rem;">
                  <path d="M5 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m14 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m-7 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-xs text-gray-500 flex items-center space-x-1">
        <p class="truncate text-gray-700">
          <span class="text-gray-900 font-semibold">/</span><%= page.path %>
        </p>
      </div>
    </div>
  </div>
<% end %>