<html>
<body>
  <code>
    <pre>
      http://localhost:3000<%= sources_from_manifest_entrypoints(%w(live-preview-client), type: :javascript).first %>

      <%= live_preview_client_js_url %>
    </pre>
  </code>
</body>
</html>