<div class="absolute top-16 left-16 right-0 bottom-0 overflow-hidden">
  <div 
    id="page-preview"
    class="bg-gray-100 group origin-top-left transition-transform duration-150 ease-out will-change-transform transform-gpu" 
    data-controller="page-preview"
    data-page-preview-primary-color-value="<%= maglev_primary_hex_color %>"
    data-action="
      uikit-device-toggler:change@window->page-preview#changeDevice 
      maglev:client-ready@window->page-preview#clientReady
      turbo:load@window->page-preview#detectUrlChange
      dispatcher:page-preview:reload@window->page-preview#startLoading
    "
  >
    <iframe 
      src="<%= current_maglev_page_urls[:preview] %>" 
      class="bg-white w-full h-full mx-auto transition-discrete transition-all duration-100 ease-in-out opacity-0 hidden group-[.is-loaded]:opacity-100 group-[.is-loaded]:block group-data-[device=mobile]:w-[375px] group-data-[device=tablet]:w-[1024px]" 
      data-page-preview-target="iframe"
      data-action="load->page-preview#iframeLoaded"></iframe>

    <div class="flex h-full w-full justify-center items-center transition-discrete transition-all duration-100 ease-in-out opacity-100 group-[.is-loaded]:opacity-0 group-[.is-loaded]:hidden" data-page-preview-target="loading">
      <p class="animate-bounce duration-200">
        <%= t('maglev.editor.page_preview.loading') %>
      </p>
    </div>
  </div>
</div>