<% content_for :drawer do %>
  <%= render Maglev::Uikit::PageLayoutComponent.new(back_path: editor_real_root_path(locale: I18n.locale, page_id: current_maglev_page.id)) do |component| %>
    <% component.with_title do %>
      <%= t('maglev.editor.pages.list.title') %>
    <% end %>

    <% component.with_description do %>
      <%= t('maglev.editor.pages.list.sub_title') %>
    <% end %>

    <p>TODO</p>
  <% end %>
<% end %>