<div 
  class="absolute top-0 left-0 mt-2 ml-2 flex hidden transition ease-[cubic-bezier(0.55,0,0.1,1)]"
  data-uikit-section-toolbar-target="topLeftCorner"
  data-transition-enter="duration-200"
  data-transition-enter-start="-translate-x-[50%] opacity-0"
  data-transition-enter-end="translate-x-0 opacity-100"
  data-transition-leave="duration-200"
  data-transition-leave-start="translate-x-0 opacity-100"
  data-transition-leave-end="-translate-x-[50%] opacity-0"
>
  <div
    class="bg-editor-primary text-white py-1 px-3 rounded-l-2xl rounded-r-2xl text-xs flex items-center"    
  >
    <span><%= label %></span>
  </div>  
</div>