<div class="absolute top-0 right-0 mt-2 mr-2 flexhidden transition ease-[cubic-bezier(0.55,0,0.1,1)]"
  data-uikit-section-toolbar-target="topRightCorner"
  data-transition-enter="duration-200"
  data-transition-enter-start="translate-x-[50%] opacity-0"
  data-transition-enter-end="translate-x-0 opacity-100"
  data-transition-leave="duration-200"
  data-transition-leave-start="translate-x-0 opacity-100"
  data-transition-leave-end="translate-x-[50%] opacity-0"
>
  <p>TODO</p>
</div>