<div class="flex flex-col gap-3 group" <%= tag.attributes(data: { controller: 'sortable' }) if sortable? %>>
  <% items.each do |item| %>
    <%= item %>
  <% end %>

  <%= form_with url: sort_form_path, method: :put, data: sort_form_data, class: 'invisible' if sortable? %>
</div>