/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

html[data-turbo-visit-direction="forward"]::view-transition-old(page-layout),
html[data-turbo-visit-direction="back"]::view-transition-old(page-layout),
html[data-turbo-visit-direction="forward"]::view-transition-old(expanded-page-layout),
html[data-turbo-visit-direction="back"]::view-transition-old(expanded-page-layout) {
  animation: 0.2s cubic-bezier(0.55, 0, 0.1, 1) both slide-out;
}

html[data-turbo-visit-direction="forward"]::view-transition-new(page-layout),
html[data-turbo-visit-direction="back"]::view-transition-new(page-layout),
html[data-turbo-visit-direction="forward"]::view-transition-new(expanded-page-layout),
html[data-turbo-visit-direction="back"]::view-transition-new(expanded-page-layout) {
  animation: 0.2s cubic-bezier(0.55, 0, 0.1, 1) both slide-in;
}

html[data-page-layout-vt-pair="already-present"]::view-transition-old(page-layout),
html[data-page-layout-vt-pair="already-present"]::view-transition-old(expanded-page-layout),
html[data-page-layout-vt-pair="already-present"]::view-transition-new(page-layout),
html[data-page-layout-vt-pair="already-present"]::view-transition-new(expanded-page-layout) {
  animation-duration: 0.3s !important;
}

::view-transition-group(sidebar) {
  z-index: 20;
}

::view-transition-group(expanded-page-layout) {
  z-index: 30;
}

::view-transition-group(page-preview) { 
  transform-origin: right center; 
}

#page-layout[data-not-expanded] {
  view-transition-name: page-layout;
}

#page-layout[data-expanded] {
  view-transition-name: expanded-page-layout;
}

#app-layout-sidebar {
  view-transition-name: sidebar;
}


/* Disable animations when user has reduced motion preference */
@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

/* Page Preview animation */

/* couldn't get this done in Tailwind custom classes */
#page-preview {
  transform: translateX(var(--page-preview-transform-x, 0px)) scale(var(--page-preview-scale-ratio, 1)); 
  height: calc(100% * 1 / 1 / var(--page-preview-scale-ratio, 1));
  width: var(--page-preview-width, 100%);
}