/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

html[data-turbo-visit-direction="forward"]::view-transition-old(drawer),
html[data-turbo-visit-direction="back"]::view-transition-old(drawer) {
  animation: 0.40s cubic-bezier(0.55, 0, 0.1, 1) both slide-out;
}

html[data-turbo-visit-direction="forward"]::view-transition-new(drawer),
html[data-turbo-visit-direction="back"]::view-transition-new(drawer) {
  animation: 0.40s cubic-bezier(0.55, 0, 0.1, 1) both slide-in;
}

html[data-turbo-visit-direction="forward"]::view-transition-old(drawer):only-child,
html[data-turbo-visit-direction="back"]::view-transition-old(drawer):only-child {
  animation: 0.20s cubic-bezier(0.55, 0, 0.1, 1) both slide-out;
}

html[data-turbo-visit-direction="forward"]::view-transition-new(drawer):only-child,
html[data-turbo-visit-direction="back"]::view-transition-new(drawer):only-child {
  animation: 0.20s cubic-bezier(0.55, 0, 0.1, 1) both slide-in;
}

::view-transition-group(sidebar) {
  z-index: 20;
}

#drawer-component {
  view-transition-name: drawer;
}

#app-layout-sidebar {
  view-transition-name: sidebar;
}
