# Please, do not change the id of the theme
id: "theme"

name: "theme"

section_categories:
- name: contents

description: "A brief description of the theme"

pages:
- title: "Home page"
  path:  "/index"


