<div class="grid grid-cols-1 gap-4">
  <%= f.combobox :page_id, 
      search_path: editor_combobox_pages_path(static_pages: '0'), 
      selected_label: @page&.title,
      placeholder: t('maglev.editor.mirrored_sections.form.page.placeholder'),
      html_options: {     
        data: {
          action: 'uikit-form-combobox:change->form-refresh#refresh'
        }   
      }
  %>

  <% if @page %>
    <%= f.select :section_id, 
        grouped_section_options_for_select(@sections), 
        prompt: @sections.any? ? t('maglev.editor.mirrored_sections.form.section_prompt') : t('maglev.editor.mirrored_sections.form.no_sections_found')
    %>    
  <% end %>
</div>