<!DOCTYPE html>
<html>
<head>
  <title><%%= @site.name %></title>  
</head>
<body>
  <main data-maglev-dropzone>
    <%%= raw render_maglev_sections site: @site, theme: @theme, page: @page, page_sections: @page_sections %>
  </main>
</body>
</html>
