<!DOCTYPE html>
<html>
<head>
  <title><%%= @site.name %></title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-white">
  <main data-maglev-dropzone>
    <%%= raw render_maglev_sections site: @site, theme: @theme, page: @page, page_sections: @page_sections %>
  </main>
</body>
</html>
