.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// slide
.slide-leave-active,
.slide-enter-active {
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}
.slide-enter {
  transform: translateX(-100%);
}
.slide-fade-enter-to {
  transform: translateX(0%);
}
.slide-leave-to {
  transform: translateX(-100%);
}

// slide + fade
.slide-fade-leave-active,
.slide-fade-enter-active {
  transition-duration: 0.4s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-fade-enter {
  transform: translateX(-50%);
  opacity: 0;
}
.slide-fade-enter-to {
  transform: translateX(0%);
  opacity: 1;
}
.slide-fade-leave-to {
  transform: translateX(-50%);
  opacity: 0;
}

// reverse slide + fade
.reverse-slide-fade-leave-active,
.reverse-slide-fade-enter-active {
  transition-duration: 0.4s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.reverse-slide-fade-enter {
  transform: translateX(50%);
  opacity: 0;
}
.reverse-slide-fade-enter-to {
  transform: translateX(0%);
  opacity: 1;
}
.reverse-slide-fade-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

// down to up slide + fade
.slide-up-fade-leave-active,
.slide-up-fade-enter-active {
  transition-duration: 0.4s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-up-fade-enter {
  transform: translateY(50%);
  opacity: 0;
}
.slide-up-fade-enter-to {
  transform: translateY(0%);
  opacity: 1;
}
.slide-up-fade-leave-to {
  transform: translateY(50%);
  opacity: 0;
}

// slide-{up|left|right}

.slide-up-enter-active,
.slide-up-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.25s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(4rem);
  opacity: 0;
}
