<div 
  class="w-full h-full mt-8" 
  data-controller="screenshot"
  data-screenshot-url-value="<%= create_section_screenshot_path(@section) %>"
>
  <div class="my-4 flex items-center justify-between">
    <%= link_to theme_path, class: 'text-gray-600' do %>
      <span>&#8592; Back to the theme</span>
    <% end %>
    <div class="flex">
      <%= link_to section_iframe_preview_in_iframe_path(@section), class: 'bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 rounded text-white py-2 px-3 mr-6', target: '_blank' do %>
        Open in a new tab
      <% end %>
      <button 
        class="bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 rounded text-white py-2 px-3 mr-3"
        data-action="click->screenshot#take"      
      >
        Take screenshot
      </button>
      <div class="relative">
        <button 
          class="bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 rounded text-white py-2 px-3"
          data-action="click->screenshot#triggerFileInput"      
        >
          Upload screenshot
        </button>
        <input 
          type="file" 
          accept="image/*"
          class="hidden"
          data-screenshot-target="fileInput"
          data-action="change->screenshot#handleFileUpload"
        />
      </div>
    </div>
  </div>
  <iframe     
    src="<%= section_iframe_preview_in_iframe_path(@section) %>"
    class="w-full h-full bg-white"  
    data-screenshot-target="source"
    data-controller="iframe"
  >
  </iframe>
  <div class="mt-4">
    <img data-screenshot-target="output" class="" />
  </div>
</div>