<%= render Maglev::Uikit::MenuDropdownComponent.new(icon_name: "more_2") do |menu_dropdown| %>
  <% menu_dropdown.with_trigger do %>
    <button 
      class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide transition-colors duration-100 bg-white border-2 rounded-md text-neutral-900 hover:text-white border-neutral-900 hover:bg-neutral-900"
      data-action="click->uikit-dropdown#toggle"
      data-uikit-dropdown-target="button"
    >
      Dropdown menu
    </button>
  <% end %>

  <% menu_dropdown.with_item_link_to('#') do |menu_item| %>
    <% menu_item.with_label_content('Action #1') %>
    <% menu_item.with_icon_content('home') %>    
  <% end %>

  <% menu_dropdown.with_item_link_to('#') do |menu_item| %>
    <% menu_item.with_label_content('Action #2') %>
    <% menu_item.with_icon_content('home') %>    
  <% end %>

  <% menu_dropdown.with_item_link_to('#') do |menu_item| %>
    <% menu_item.with_label_content('Action #3') %>
    <% menu_item.with_icon_content('home') %>    
  <% end %>
<% end %>