<div data-controller="uikit-dropdown" class="relative">
  <%= trigger %>

  <div 
    class="hidden opacity-0 scale-95 shadow-lg rounded py-2 px-3 text-sm bg-white w-max absolute" 
    data-aria-orientation="vertical"
    data-aria-labelledby="dropdown-button"
    data-uikit-dropdown-target="content"
  >
    <%= content %>
  </div>
</div>