<div class="relative bg-gray-200 rounded p-4">
  <div class="h-12 bg-gray-300 mb-3 rounded"></div>
  <div class="h-3 bg-gray-300 w-2/3 mb-2 rounded"></div>
  <div class="h-3 bg-gray-300 w-1/2 mb-3 rounded"></div>
  <div class="h-6 bg-gray-400 w-24 rounded"></div>
</div>