<% topbar.with_logo(
  root_path: editor_real_root_path(maglev_editing_route_context), 
  logo_url: maglev_editor_logo_url) 
%>

<% topbar.with_page_info do %>
  <%= render Maglev::Uikit::AppLayout::Topbar::PageInfoComponent.new(
    page: current_maglev_page,
    paths: {
      edit: edit_editor_page_path(current_maglev_page, maglev_editing_route_context),
      preview: current_maglev_page_urls[:preview],
      clone: editor_page_clone_path(current_maglev_page, maglev_editing_route_context),
      delete: editor_page_path(current_maglev_page, maglev_editing_route_context)
    },
    live_page_url: current_maglev_page_urls[:live],
    prefix_page_path: default_content_locale? ? '' : "#{content_locale}/"
  ) %>
<% end %>

<% topbar.with_actions do %>
  <%= render Maglev::Uikit::LocaleSwitcherComponent.new(
    locales: maglev_site.locales.map do |locale|
      { 
        label: locale.label, 
        value: locale.prefix, 
        path: editor_real_root_path(maglev_editing_route_context(locale: locale.prefix)),
        data_attributes: maglev_page_preview_reload_data
      }
    end,
    current_locale: Maglev::I18n.current_locale,
  ) if maglev_site.many_locales? %>

  <div class="flex items-center h-full px-4">
    <%= button_to editor_publication_path(maglev_editing_route_context), 
      method: :post, 
      class: maglev_button_classes(color: :primary, size: :medium),
      form_class: 'group/form is-default',
      data: { controller: 'submit-button' } do %>
      <%= maglev_button_label(
        t('maglev.editor.header_nav.publish_button.default'),
        pending: t('maglev.editor.header_nav.publish_button.in_progress'),
        )%>
    <% end %>
  </div>
<% end %>