<html lang="<%= I18n.locale %>">
  <head>
    <title>Maglev</title>
    <%= stylesheet_link_tag "maglev/tailwind" %>
    <%= maglev_importmap_tags "editor" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>