<div class="flex items-center h-full px-4">
  <%= button_to editor_publication_path(maglev_editing_route_context), 
    method: :post, 
    class: maglev_button_classes(color: :primary, size: :medium),
    form_class: 'group/form is-default',
    disabled: current_maglev_page.published_and_up_to_date?,
    data: { controller: 'submit-button' } do %>
    <%= maglev_button_label(
      t('maglev.editor.header_nav.publish_button.default'),
      pending: t('maglev.editor.header_nav.publish_button.in_progress'),
      )%>
  <% end %>
</div>