<%= render Maglev::Uikit::DropdownComponent.new(placement: placement) do |component| %>
  <% component.with_trigger do %>
    <% if trigger.present? %>
      <%= trigger %>
    <% else %>
      <%= render Maglev::Uikit::IconButtonComponent.new(icon_name: icon_name, data: { action: "click->uikit-dropdown#toggle", 'uikit-dropdown-target': 'button' }) %>
    <% end %>
  <% end %>

  <div class="flex flex-col w-48 text-gray-800">
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </div>
<% end %>