<div class="h-full font-nunito overflow-hidden">  
  <header class="flex h-16 border-b border-gray-200">
    <%= topbar %>
  </header>

  <div class="flex h-[calc(100vh-4rem)]">
    <%= sidebar %>
        
    <div class="bg-gray-100 w-full h-full">
      <%= content %>
    </div>
  </div>
</div>


