<%= logo %>

<div class="grid grid-cols-5 h-full w-full">
  <div class="col-span-3 lg:col-span-2 flex justify-start items-center">
    <%= page_info %>
  </div>

  <div class="col-span-1 hidden lg:flex justify-center" data-turbo-permanent id="device-toggler">
    <%= render Maglev::Uikit::DeviceTogglerComponent.new %>
  </div>

  <div class="col-span-2 flex justify-end h-full">
    <%= actions %>
  </div>
</div>